<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRMIKEMTL</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1991085633112598"
     crossorigin="anonymous"></script>
</head>

<body>
    <nav class="px-2 sm:px-4 py-2.50">
        <div class="container flex flex-wrap place-items-center justify-between mx-auto max-w-screen">
            <a href="/" class="flex items-center">
                <img src="../static/dist/beard_logo.jpg" class="h-6 mr-3 sm:h-9">
                <span class="self-center text-xl font-semibold whitespace-nowrap">MRMIKEMTL</span>
            </a>
            <div class="flex md:order-2">
                <button type="button"
                    class="text-white bg-purple-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0"><a href="/login">Login</a></button>
                <button data-collapse-toggle="navbar-cta" type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    aria-controls="navbar-cta" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                <ul
                    class="flex flex-col p-4 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:">
                    
                    <li>
                        <a href="/"
                            class="block py-2 pl-3 pr-4 text-lg text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-500 md:p-0">Home</a>
                    </li>
                    <li>
                        <a href="/leaderboard"
                            class="block py-2 pl-3 pr-4 text-lg text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-500 md:p-0">WC3 Leaderboard</a>
                    </li>
                    <li>
                        <a href="/smf_league"
                            class="block py-2 pl-3 pr-4 text-lg text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-500 md:p-0">SMF League</a>
                    </li>
                    <li>
                        <a href="/events"
                            class="block py-2 pl-3 pr-4 text-lg text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-500 md:p-0">Tournament Archive</a>
                    </li>
                    
                    <li>
                        <a href="/point_system"
                            class="block py-2 pl-3 pr-4 text-lg text-gray-700 hover:bg-gray-100 md:hover:text-purple-500 rounded-sm md:bg-transparent md:p-0"
                            aria-current="page">SMF Point System</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-[url(cityscape.jpg)] bg-cover bg-center min-h-screen w-full max-w-screen place-items-center flex items-center justify-center">

<div class="inline-flex max-w-screen">
<div class="grid mb-8 border mx-auto p-7  w-100 sm:w-25 rounded-lg shadow-xs border-gray-700 md:mb-12 md:grid-cols-1  bg-gray-800">
    <h3 class="text-xl font-semibold  text-white text-center">Upcoming Tournaments</h3>
    {% for tournament in upcoming_tournaments %}
    <figure class="flex flex-col items-center justify-center p-8 text-center  border-b  rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e bg-gray-800 border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-white lg:mb-8">
            <p class="my-4">{{ tournament[0] }}{{ tournament[1] }} <br><br> {{ tournament[2] }} <a href="{{ 'https://' + tournament[3] }}"class="text-blue-500">{{ tournament[3] }}</a></p>
        </blockquote> 
    </figure>
    {% endfor %}
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>
